:root{
    --red:#c0392b;
    --orange:#f39c12;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-white:#ccc;
    --light-bg:#f5f5f5;
    --sky-blue: #2ab6e0;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
 }

 *{
    font-family: 'Rubik', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    transition:all .2s linear;
 }

html{
    font-size: 12px;
    overflow-x: hidden;
}

body{
    background-color: var(--light-bg);
    height: 100vh;
}

section{
    padding: 3rem 2rem;
}


.empty{
   padding:1.5rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   color:var(--red);
   font-size: 2rem;
}

.btn,
.option-btn,
.delete-btn,
.white-btn{
   display: inline-block;
   margin-top: 1rem;
   padding:1rem 3rem;
   cursor: pointer;
   color:var(--white);
   font-size: 1.8rem;
   border-radius: .5rem;
   text-transform: capitalize;
   margin-top: 0;
}
.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: var(--black);
}
.white-btn,
.btn{
   background-color: var(--black);
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   background-color: var(--red);
}

.white-btn:hover{
   background-color: var(--white);
   color:var(--black);
}


.title{
    font-size: 3rem;
    text-align: center;
    width: 100%;
    color: white;
    background-color: black;
    padding: 1rem 0;
}
.add-products form{
    max-width: 50rem;
    border-radius: .5rem;
    background-color: var(--white);
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
}
.add-products form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 1rem;
}
.add-products form .box{
    width: 100%;
    margin: 1rem 0;
    font-size: 1.8rem;
    color: var(--black);
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 1.2rem 1.5rem;
    border: var(--border);
}
.add-products form textarea{
    height: 15rem;
    resize: none;
}


.show-products h1{
    font-size: 3rem;
    text-align: center;
    width: 60%;
    color: white;
    background-color: rgb(65, 63, 63);
    padding: 1rem 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.show-products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
}
.show-products .box-container .box{
    text-align: center;
    padding: 1rem;
    border: var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}
.show-products .box-container .box .fa-times{
    position: absolute;
    top: 1rem; 
    right: 1rem;
    height: 4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background-color: var(--red);
    color: var(--white);
 }
.show-products .box-container .box .price{
    padding:1rem 0;
    top: 0;
    left: 0;
    width: 10rem;
    background-color: var(--orange);
    color:var(--white);
    font-size: 2rem;
    border: var(--border);
    border-radius: .5rem;
}
.show-products .box-container .box .image{
    height: 30rem;
}
.show-products .box-container .box .name{
    margin: 0;
    font-size: 2rem;
    color: var(--black);
}
.show-products .box-container .box .cantidad{
    margin: 0.5rem 0;
    height: 3rem;
    padding: 0.5rem;
    border: var(--border);
    border-radius: 5px;
}
.show-products .box-container .box .details{
    line-height: 1.5;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.sub-total{
    font-size: 1.5rem;
    font-weight: bold;
    padding: .5rem 0;
}

.show-products .carrito_total{
    max-width: 1000px;
    margin: 2rem auto;
    border: var(--border);
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
 }
 .show-products .carrito_total p{
    font-size: 3rem;
    color: var(--light-color);
 }
 .show-products .carrito_total p span{
    color: var(--red);
 }
 .show-products .carrito_total .flex{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
 }
 .show-products .disabled{
    pointer-events: none;
    opacity: .8;
    user-select: none;
 }
 


.edit-product-form{
    min-height: 100vh;
    background-color: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    overflow-y: scroll;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1100;
    width: 100%;
    border: var(--border);
    /* display: none; */
}
.edit-product-form form{
    width: 50rem;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    background-color: var(--white);
}
.edit-product-form form img{
    height: 25rem;
    margin-bottom: 1rem;
}
.edit-product-form form .box{
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    border: var(--border);
    border-radius: .5rem;
    background-color: var(--light-bg);
    font-size: 1.8rem;
    color: var(--black);
    width: 100%;
}


.sectionEmitir{
    display: flex;
    justify-content: center;
}
